body {
  margin: 0;
  background-color: #91b9fa;
}

.banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  background-color: #215dbf;
  align-items: center;
}
.banner__title {
  display: flex;
  text-align: center;
  margin: auto;
  margin-right: 13%;
}
.banner h2 {
  color: white;
  font-size: 35px;
}
.banner__navbar {
  display: flex;
  gap: 50px;
  margin-right: 50px;
}
.banner__navbar a {
  text-decoration: none;
  padding: 10px;
  border: 0;
  border-radius: 20px;
  background-color: #91b9fa;
  font-size: 17px;
  color: #215dbf;
  font-weight: bold;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=base.css.map */
