// Background color of all page
body {
    margin: 0;
    background-color: #91b9fa;
}

// Top of page and navbar
.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    background-color: #215dbf;
    align-items: center;

    &__title {
        display: flex;
        text-align: center;
        margin: auto;
        margin-right: 13%;
    }
    
    h2 {
        color: white;
        font-size: 35px;
    }

    &__navbar {
        display: flex;
        gap: 50px;
        margin-right: 50px;

        a {
            text-decoration: none;
            padding: 10px;
            border: 0;
            border-radius: 20px;
            background-color: #91b9fa;
            font-size: 17px;
            color: #215dbf;
            font-weight: bold;
        }
    }
    
}

// Font of website
* {
    font-family: Arial, Helvetica, sans-serif;
}