.main_follows {
  display: flex;
  flex-direction: column;
}
.main_follows__title {
  margin: auto;
}
.main_follows__addfollow {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main_follows .form_follow {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 15vh;
  align-items: center;
}
.main_follows .form_follow .errorlist {
  position: absolute;
  top: 150px;
  right: 45%;
}
.main_follows .form_follow .errorlist li {
  display: contents;
  font-weight: bold;
  font-size: 20px;
  color: #e30e00;
}
.main_follows .form_follow p {
  width: 40%;
}
.main_follows .form_follow input {
  width: 95%;
  height: 5vh;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.main_follows .form_follow button {
  background-color: #215dbf;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  height: 5vh;
  width: 10vh;
  cursor: pointer;
}
.main_follows .form_follow button:hover {
  background-color: #6495ED;
}
.main_follows .form_follow .btn_follow {
  display: flex;
  align-items: center;
}
.main_follows__suber {
  display: flex;
  flex-direction: column;
}
.main_follows__suber a {
  text-decoration: none;
  color: white;
}
.main_follows__suber .title {
  display: flex;
  margin: auto;
}
.main_follows__suber .form_suber {
  display: flex;
  margin: auto;
  border: 1px solid black;
  width: 70%;
  height: 5vh;
  border-radius: 11px;
}
.main_follows__suber .form_suber .btn_unsub {
  display: flex;
  float: right;
}
.main_follows__suber .form_suber .btn_unsub button {
  height: 5vh;
  background-color: #215dbf;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.main_follows__suber .form_suber .btn_unsub button:hover {
  background-color: #6495ED;
}
.main_follows__suber .form_suber .form_suber2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.main_follows__suber .form_suber .form_suber2 .label_suber {
  display: flex;
  width: 100%;
  align-items: center;
}
.main_follows__suber .form_suber .form_suber2 label {
  background-color: #215dbf;
  padding: 15px;
  border: 0;
  border-radius: 12px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  padding-right: 40%;
  color: white;
}
.main_follows__follower {
  display: flex;
  flex-direction: column;
}
.main_follows__follower .title {
  display: flex;
  margin: auto;
}

/*# sourceMappingURL=follows.css.map */
