.main_follows {
    display: flex;
    flex-direction: column;

    &__title {
        margin: auto;
    }

    &__addfollow {
        margin: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    // Form to follow user
    .form_follow {
        margin: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        height: 15vh;
        align-items: center;

        // Position of error message
        .errorlist {
            position: absolute;
            top: 150px;
            right: 45%;

            li {
                display: contents;
                font-weight: bold;
                font-size: 20px;
                color: #e30e00;
            }
        }

        p {
            width: 40%;
        }

        input {
            width: 95%;
            height: 5vh;
            font-size: 25px;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
        }

        button {
            background-color: #215dbf;
            border: 0;
            border-radius: 10px;
            padding: 10px;
            color: white;
            font-weight: bold;
            height: 5vh;
            width: 10vh;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
          }

        .btn_follow {
            display: flex;
            align-items: center;
        }
    }

    // Style to display followers and follows
    &__suber {
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: white;
        }

        .title {
            display: flex;
            margin: auto;
        }

        .form_suber {
            display: flex;
            margin: auto;
            border: 1px solid black;
            width: 70%;
            height: 5vh;
            border-radius: 11px;

            // Button to unfollow
            .btn_unsub {
                display: flex;
                float: right;

                button {
                    height: 5vh;
                    background-color: #215dbf;
                    color: white;
                    border: 0;
                    border-radius: 10px;
                    padding: 10px;
                    font-weight: bold;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #6495ED;
                  }
            }

            .form_suber2 {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;

                .label_suber {
                    display: flex;
                    width: 100%;
                    align-items: center;
                }

                label {
                    background-color: #215dbf;
                    padding: 15px;
                    border: 0;
                    border-radius: 12px;
                    border-top-right-radius: 35px;
                    border-bottom-right-radius: 35px;
                    padding-right: 40%;
                    color: white;
                }
            }
        }
    }

    &__follower {
        display: flex;
        flex-direction: column;

        .title {
            display: flex;
            margin: auto;
        }
    }
}