.add_critic {
  display: flex;
  height: 12vh;
}
.add_critic__btn {
  display: flex;
  margin: auto;
  margin-top: 40px;
  gap: 60px;
}
.add_critic__btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.add_critic__btn button {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: #215dbf;
  font-size: 20px;
  cursor: pointer;
}
.add_critic__btn button:hover {
  background-color: #6495ED;
}

.main .btn_critic {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}
.main .btn_critic button {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background-color: #215dbf;
  cursor: pointer;
}
.main .btn_critic button:hover {
  background-color: #6495ED;
}
.main .btn_critic a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.main .flux_date {
  margin-top: 5px;
}

.rating_title {
  display: flex !important;
  flex-direction: row !important;
}

.review_ticket {
  border: 2px solid black;
  margin: 20px;
}
.review_ticket__imgcontent {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-bottom: 10px;
}
.review_ticket h4 {
  margin-left: 15px;
}

/*# sourceMappingURL=home.css.map */
