// Position & Style of button to create ticket or review
.add_critic {
    display: flex;
    height: 12vh;

    &__btn {
        display: flex;
        margin: auto;
        margin-top: 40px;
        gap: 60px;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        button {
            padding: 10px;
            border: 0;
            border-radius: 10px;
            background-color: #215dbf;
            font-size: 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
        }
    }
}

.main {

    // Button position to add critic of an ticket
    .btn_critic {

        text-align: right;
        margin-right: 10px;
        margin-bottom: 5px;

        // Button style
        button {
            border: 0;
            border-radius: 10px;
            padding: 10px;
            background-color: #215dbf;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
          }

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }

    .flux_date {
        margin-top: 5px;
    }
}

// Positionning title and rating on same line
.rating_title {
    display: flex !important;
    flex-direction: row !important;
}

// Block of ticket in block of review
.review_ticket {
    border: 2px solid black;
    margin: 20px;

    &__imgcontent {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    h4 {
        margin-left: 15px;
    }
}