.main_addreview {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.main_addreview__ticket {
  border: 2px solid black;
  width: 100%;
}
.main_addreview__ticket p {
  margin-left: 15px;
}
.main_addreview__ticket .ticket_answer {
  border: 2px solid black;
  margin: 60px;
}
.main_addreview__ticket .ticket_answer h3 {
  margin-left: 15px;
}
.main_addreview__ticket .ticket_answer .ticket_answer_content {
  display: flex;
  flex-direction: row;
  margin: 15px;
}
.main_addreview__ticket .ticket_date {
  text-align: right;
  margin: 7px;
}
.main_addreview__review {
  width: 100%;
  border: 2px solid black;
  border-top: 0px;
  display: flex;
  flex-direction: column;
}
.main_addreview__review__title {
  display: flex;
  margin-left: 0;
}
.main_addreview__review__title p {
  margin-left: 5px !important;
  font-size: 18px;
}
.main_addreview__review button {
  float: right;
  margin-right: 65px;
  margin-bottom: 5px;
  background-color: #215dbf;
  border: 0;
  border-radius: 10px;
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.main_addreview__review button:hover {
  background-color: #6495ED;
}
.main_addreview__review #id_rating {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: 40px;
}
.main_addreview__review p {
  margin-left: 30px;
}
.main_addreview__review p label {
  display: block;
}
.main_addreview__review p input {
  width: 95%;
  height: 4vh;
  font-size: 20px;
  resize: none;
}
.main_addreview__review p #id_content {
  height: 16vh;
  vertical-align: top;
  padding: 0;
  padding-bottom: 120px;
  box-sizing: border-box;
  text-align: left;
}
.main_addreview__title {
  margin: auto;
}

/*# sourceMappingURL=review_answer.css.map */
