// Main block of page
.main_block_reviewcreate {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 40px;

    label {
        display: block;
    }

    // Block of ticker form
    &__ticketform {
        border: 1px solid black;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-left: 2px solid black;

        input {
            height: 3vh;
            width: 95%;
            font-size: 20px;
        }

        h4 {
            margin-left: 15px;
        }

        p {
            margin-left: 30px;
        }

        // input content of form
        #id_content {
            height: 16vh;
            vertical-align: top;
            padding: 0;
            padding-bottom: 120px;
            box-sizing: border-box;
            text-align: left;
        }

        // image of form
        #id_image {
            height: 5vh;
            padding-top: 5px;
        }
    }

    // Block of review form
    &__reviewform {
        border: 1px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;

        h4 {
            margin-left: 15px;
        }

        p {
            margin-left: 30px;
        }

        // positionning button radio rating
        #id_rating {
            display: flex;
            flex-direction: row;
            gap: 25px;
            margin-left: 40px;
        }

        // input title of form
        #id_title {
            height: 3vh;
            width: 95%;
            font-size: 20px;
        }

        // input content of form
        #id_content {
            width: 95%;
            font-size: 20px;
            height: 16vh;
            vertical-align: top;
            padding: 0;
            padding-bottom: 120px;
            box-sizing: border-box;
            text-align: left;
        }

        button {
            margin-left: 87%;
            margin-right: 65px;
            margin-bottom: 5px;
            background-color: #215dbf;
            border: 0;
            border-radius: 10px;
            padding: 12px;
            padding-left: 45px;
            padding-right: 45px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
        }
    }
}

// Title of main block
.main_block_reviewcreate_title {
    display: flex;
    
    h2 {
        margin: auto;
        margin-top: 25px;
    }
}