.main_block_reviewcreate {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.main_block_reviewcreate label {
  display: block;
}
.main_block_reviewcreate__ticketform {
  border: 1px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.main_block_reviewcreate__ticketform input {
  height: 3vh;
  width: 95%;
  font-size: 20px;
}
.main_block_reviewcreate__ticketform h4 {
  margin-left: 15px;
}
.main_block_reviewcreate__ticketform p {
  margin-left: 30px;
}
.main_block_reviewcreate__ticketform #id_content {
  height: 16vh;
  vertical-align: top;
  padding: 0;
  padding-bottom: 120px;
  box-sizing: border-box;
  text-align: left;
}
.main_block_reviewcreate__ticketform #id_image {
  height: 5vh;
  padding-top: 5px;
}
.main_block_reviewcreate__reviewform {
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.main_block_reviewcreate__reviewform h4 {
  margin-left: 15px;
}
.main_block_reviewcreate__reviewform p {
  margin-left: 30px;
}
.main_block_reviewcreate__reviewform #id_rating {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: 40px;
}
.main_block_reviewcreate__reviewform #id_title {
  height: 3vh;
  width: 95%;
  font-size: 20px;
}
.main_block_reviewcreate__reviewform #id_content {
  width: 95%;
  font-size: 20px;
  height: 16vh;
  vertical-align: top;
  padding: 0;
  padding-bottom: 120px;
  box-sizing: border-box;
  text-align: left;
}
.main_block_reviewcreate__reviewform button {
  margin-left: 87%;
  margin-right: 65px;
  margin-bottom: 5px;
  background-color: #215dbf;
  border: 0;
  border-radius: 10px;
  padding: 12px;
  padding-left: 45px;
  padding-right: 45px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.main_block_reviewcreate__reviewform button:hover {
  background-color: #6495ED;
}

.main_block_reviewcreate_title {
  display: flex;
}
.main_block_reviewcreate_title h2 {
  margin: auto;
  margin-top: 25px;
}

/*# sourceMappingURL=review_create.css.map */
