// Main body of page
.main_addreview {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;

    // Block of displaying ticket
    &__ticket {
        border: 2px solid black;
        width: 100%;
        
        p {
            margin-left: 15px;
        }

        .ticket_answer {
            border: 2px solid black;
            margin: 60px;

            h3 {
                margin-left: 15px;
            }

            .ticket_answer_content {
                display: flex;
                flex-direction: row;
                margin: 15px;
            }
        }

        // Positionning date of ticket
        .ticket_date {
            text-align: right;
            margin: 7px;
        }
    }

    // Block of review
    &__review {
        width: 100%;
        border: 2px solid black;
        border-top: 0px;
        display: flex;
        flex-direction: column;

        &__title {
            display: flex;
            margin-left: 0;

            p {
                margin-left: 5px !important;
                font-size: 18px;
            }
        }

        button {
            float: right;
            margin-right: 65px;
            margin-bottom: 5px;
            background-color: #215dbf;
            border: 0;
            border-radius: 10px;
            padding: 12px;
            padding-left: 30px;
            padding-right: 30px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
        }

        // Positionning of button radio rating
        #id_rating {
            display: flex;
            flex-direction: row;
            gap: 25px;
            margin-left: 40px;
        }

        p {
            margin-left: 30px;
            label {
                display: block;
            }

            input {
                width: 95%;
                height: 4vh;
                font-size: 20px;
                resize: none;
                
            }

            // Positionning in input content
            #id_content {
                height: 16vh;
                vertical-align: top;
                padding: 0;
                padding-bottom: 120px;
                box-sizing: border-box;
                text-align: left;
            }
        }
    }

    &__title {
        margin: auto;
    }
}