.review_delete {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.review_delete__title {
  margin: auto;
}
.review_delete hr {
  width: 50%;
}

/*# sourceMappingURL=review_delete.css.map */
