.ticket_main {
  display: flex;
  flex-direction: column;
}
.ticket_main__title {
  display: flex;
  margin: auto;
}
.ticket_main__title h2 {
  font-size: 30px;
}
.ticket_main__form {
  display: flex;
  width: 100%;
}
.ticket_main__form form {
  margin: auto;
  width: 50%;
}
.ticket_main__form label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.ticket_main__form input {
  width: 100%;
  font-size: 20px;
}
.ticket_main__form #id_content {
  height: 18vh;
  vertical-align: top;
  padding: 0;
  padding-bottom: 135px;
  box-sizing: border-box;
  text-align: left;
}
.ticket_main__form #id_title {
  height: 4vh;
  width: 99.2%;
}
.ticket_main__form #id_image {
  font-size: 20px;
}
.ticket_main__form button {
  padding: 10px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #215dbf;
  color: white;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  float: right;
}

/*# sourceMappingURL=ticket_create.css.map */
