.ticket_main {
    display: flex;
    flex-direction: column;

    // Title positionning of this page
    &__title {
        display: flex;
        margin: auto;

        h2 {
            font-size: 30px;
        }
    }

    // Form of this page
    &__form {
        display: flex;
        width: 100%;

        // Block of form
        form {
            margin: auto;
            width: 50%;
        }

        // Positionning label of form
        label {
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 600;
        }

        input {
            width: 100%;
            font-size: 20px;
        }

        // input of description form
        #id_content {
            height: 18vh;
            vertical-align: top;
            padding: 0;
            padding-bottom: 135px;
            box-sizing: border-box;
            text-align: left;
        }

        // positionning input for title form
        #id_title {
            height: 4vh;
            width: 99.2%;
        }

        #id_image {
            font-size: 20px;
        }

        // Button to submit form
        button {
            padding: 10px;
            padding-right: 40px;
            padding-left: 40px;
            background-color: #215dbf;
            color: white;
            font-size: 20px;
            border: 0;
            border-radius: 10px;
            font-weight: bold;
            float: right;
        }
    }
}