.main_block_ticketupdate {
    display: flex;
    flex-direction: column;

    // title of main block
    &__title {
        display: flex;
        margin: auto;
    }

    // Label positionning
    label {
        display: block;
        margin-bottom: 10px;
        font-size: 20px;
    }

    // Form of the page
    form {
        margin: auto;
        width: 70%;

        input {
            width: 100%;
            height: 3vh;
            font-size: 20px;
        }

        // Input description of form
        #id_content {
            height: 16vh;
            width: 100.5%;
            padding: 0;
            padding-bottom: 120px;
            box-sizing: border-box;
            text-align: left;
        }

        // Input title of form
        #id_title {
            text-align: center;
        }

        .form-group {
            margin-bottom: 15px;

            img {
                margin-bottom: 15px;
            }
        }

        // Button of form
        button {
            float: right;
            margin-bottom: 5px;
            background-color: #215dbf;
            border: 0;
            border-radius: 10px;
            padding: 12px;
            padding-left: 45px;
            padding-right: 45px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
        }
    }
}