.main_block_ticketupdate {
  display: flex;
  flex-direction: column;
}
.main_block_ticketupdate__title {
  display: flex;
  margin: auto;
}
.main_block_ticketupdate label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
.main_block_ticketupdate form {
  margin: auto;
  width: 70%;
}
.main_block_ticketupdate form input {
  width: 100%;
  height: 3vh;
  font-size: 20px;
}
.main_block_ticketupdate form #id_content {
  height: 16vh;
  width: 100.5%;
  padding: 0;
  padding-bottom: 120px;
  box-sizing: border-box;
  text-align: left;
}
.main_block_ticketupdate form #id_title {
  text-align: center;
}
.main_block_ticketupdate form .form-group {
  margin-bottom: 15px;
}
.main_block_ticketupdate form .form-group img {
  margin-bottom: 15px;
}
.main_block_ticketupdate form button {
  float: right;
  margin-bottom: 5px;
  background-color: #215dbf;
  border: 0;
  border-radius: 10px;
  padding: 12px;
  padding-left: 45px;
  padding-right: 45px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.main_block_ticketupdate form button:hover {
  background-color: #6495ED;
}

/*# sourceMappingURL=ticket_update.css.map */
