.main {
  display: flex;
  flex-direction: column;
}
.main .blocked {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 25px;
}
.main .blocked button {
  float: right;
  margin-right: 45px;
  background-color: #215dbf;
  border: 0;
  border-radius: 10px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
.main .blocked button:hover {
  background-color: #6495ED;
}
.main__title {
  margin: auto;
}
.main__title h2 {
  font-size: 35px;
}
.main__ticket {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 40%;
  border: 2px solid black;
}
.main__ticket .date {
  text-align: right;
  margin-right: 10px;
}
.main__ticket .title {
  margin-left: 10px;
}
.main__ticket .btn {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}
.main__ticket .btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.main__ticket .btn button {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background-color: #215dbf;
  cursor: pointer;
}
.main__ticket .btn button:hover {
  background-color: #6495ED;
}
.main__ticket .content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main__ticket .content .image {
  margin-left: 10px;
}
.main__ticket p {
  margin-left: 10px;
}

.btn_review {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}
.btn_review button {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background-color: #215dbf;
  cursor: pointer;
}
.btn_review button:hover {
  background-color: #6495ED;
}
.btn_review a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.title_page {
  display: flex;
  margin: auto;
}
.title_page h3 {
  font-size: 30px;
  margin-top: 0px;
}

/*# sourceMappingURL=user_posts.css.map */
