.main {
    display: flex;
    flex-direction: column;

    // Button to block user
    .blocked {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 25px;

        // Style and positionning button to block user
        button {
            float: right;
            margin-right: 45px;
            background-color: #215dbf;
            border: 0;
            border-radius: 10px;
            padding: 12px;
            padding-left: 20px;
            padding-right: 20px;
            color: white;
            font-weight: bold;
            font-size: 17px;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
        }
    }

    &__title {
        margin: auto;

        h2 {
            font-size: 35px;
        }
    }

    // Style to displaying ticket on posts and home page
    &__ticket {
        display: flex;
        margin: auto;
        flex-direction: column;
        width: 40%;
        border: 2px solid black;

        // date of ticket
        .date {
            text-align: right;
            margin-right: 10px;
        }

        // title of ticket
        .title {
            margin-left: 10px;
        }

        .btn {
            text-align: right;
            margin-right: 10px;
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }

            button {
                border: 0;
                border-radius: 10px;
                padding: 10px;
                background-color: #215dbf;
                cursor: pointer;
            }

            button:hover {
                background-color: #6495ED;
              }
        }

        // description and image in ticket
        .content {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            margin-bottom: 10px;

            .image {
                margin-left: 10px;
            }
        }

        p {
            margin-left: 10px;
        }
    }
}

// Button to modify/delete review
.btn_review {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 5px;

    button {
        border: 0;
        border-radius: 10px;
        padding: 10px;
        background-color: #215dbf;
        cursor: pointer;
    }

    button:hover {
        background-color: #6495ED;
      }

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}

.title_page {
    display: flex;
    margin: auto;

    h3 {
        font-size: 30px;
        margin-top: 0px;
    }
}