.main_block {
    display: flex;
    margin-top: 13%;
    margin-left: 10%;

    &__centering {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 90%;
    }

    &__signup {
        display: flex;
        width: 30%;
        align-items: center;
        flex-direction: column;
        margin-right: 25%;

        h2 {
            font-size: 35px;
        }

        a {
            text-decoration: none;
            font-size: 25px;
            font-weight: bold;
            color: white;
        }
    
        button {
            padding: 15px;
            align-items: center;
            background-color: #215dbf;
            border-radius: 10px;
            border: 0;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
        }
    }

    &__login {
        width: 30%;

        h2 {
            font-size: 35px;
        }

        button {
            position: relative;
            padding: 15px;
            background-color: #215dbf;
            border-radius: 10px;
            border: 0;
            color: white;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            left: 55%;
            cursor: pointer;
        }

        button:hover {
            background-color: #6495ED;
        }

        label {
            font-size: 25px;
        }

        input {
            height: 4vh;
            width: 46vh;
            border-radius: 10px;
            font-size: 20px;
            border: 0;
        }
    }

    &__login_title {
        display: flex;
        justify-content: center;
    }
}