.main_block {
  display: flex;
  margin-top: 13%;
  margin-left: 10%;
}
.main_block__centering {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90%;
}
.main_block__signup {
  display: flex;
  width: 30%;
  align-items: center;
  flex-direction: column;
  margin-right: 25%;
}
.main_block__signup h2 {
  font-size: 35px;
}
.main_block__signup a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.main_block__signup button {
  padding: 15px;
  align-items: center;
  background-color: #215dbf;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.main_block__signup button:hover {
  background-color: #6495ED;
}
.main_block__login {
  width: 30%;
}
.main_block__login h2 {
  font-size: 35px;
}
.main_block__login button {
  position: relative;
  padding: 15px;
  background-color: #215dbf;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  left: 55%;
  cursor: pointer;
}
.main_block__login button:hover {
  background-color: #6495ED;
}
.main_block__login label {
  font-size: 25px;
}
.main_block__login input {
  height: 4vh;
  width: 46vh;
  border-radius: 10px;
  font-size: 20px;
  border: 0;
}
.main_block__login_title {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=accueil.css.map */
