body {
    margin: 0;
    background-color: #91b9fa;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #215dbf;
    
    h2 {
        margin: auto;
        color: white;
        font-size: 35px;
    }
}