.main_signup {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.main_signup h2 {
  font-size: 35px;
}
.main_signup button {
  position: relative;
  padding: 10px;
  background-color: #215dbf;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  left: 55%;
  cursor: pointer;
}
.main_signup a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.main_signup__btn {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.main_signup__btn button {
  margin-right: 5px;
}
.main_signup__form {
  width: 50%;
  margin: auto;
  text-align: center;
}
.main_signup__form input {
  width: 50%;
  height: 4vh;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
}
.main_signup__form button:hover {
  background-color: #6495ED;
}

/*# sourceMappingURL=signup.css.map */
