.main_signup {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

    h2 {
        font-size: 35px;
    }


    button {
        position: relative;
        padding: 10px;
        background-color: #215dbf;
        border-radius: 10px;
        border: 0;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        left: 55%;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    &__btn {
        display: flex;
        flex-direction: row;
        padding: 10px;

        button {
            margin-right: 5px;
        }
    }

    &__form {
        width: 50%;
        margin: auto;
        text-align: center;
        
        input {
            width: 50%;
            height: 4vh;
            font-size: 20px;
            border-radius: 10px;
            border: 0;
        }

        button:hover {
            background-color: #6495ED;
        }
    }
}