{% extends 'authentication/base.html' %}
{% block content %}
<main class="main_block">
    <div class="main_block__centering">
        <section class="main_block__signup">
            <h2>Inscrivez-vous maintenant !</h2>
            <button role="button">
                <a href="{% url 'signup' %}">S'inscrire</a>
            </button>
        </section>
        <section class="main_block__login">
            <header class="main_block__login_title">
                <h2>Connectez-vous</h2>
            </header>
            <section class="form_connect" aria-label="Formulaire de connexion">
                <form method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" role="button">Se connecter</button>
                </form>
            </section>
        </section>
    </div>
</main>
{% endblock %}