{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'authentication/base.css' %}"/>
        <link rel="stylesheet" href="{% static 'authentication/accueil.css' %}">
        <link rel="stylesheet" href="{% static 'authentication/signup.css' %}">
    </head>
    <body>
        <header class="title">
            <h2>LITReview</h2>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>