{% extends 'authentication/base.html' %}
{% block content %}
<main class="main_signup">
    <header class="main_signup__title">
        <h2>Inscrivez-vous !</h2>
    </header>
    <section class="main_signup__form" aria-label="Formulaire d'inscription">
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="main_signup__btn">
                <button role="button">
                    <a href="{% url 'accueil' %}">Retourner</a>
                </button>
                <button type="submit" role="button">S'inscrire</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}