{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LITReview</title>
    </head>
    <link rel="stylesheet" href="{% static 'litreview/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'litreview/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'litreview/ticket_create.css' %}"/>
    <link rel="stylesheet" href="{% static 'litreview/user_posts.css' %}"/>
    <link rel="stylesheet" href="{% static 'litreview/review_answer.css' %}"/>
    <link rel="stylesheet" href="{% static 'litreview/follows.css' %}"/>
    <link rel="stylesheet" href="{% static 'litreview/review_create.css' %}"/>
    <link rel="stylesheet" href="{% static 'litreview/ticket_update.css' %}"/>
    <link rel="stylesheet" href="{% static 'litreview/review_delete.css' %}"/>
    <body>
        <header class="banner">
            <div class="banner__title">
                <h2>LITReview</h2>
            </div>
            <div>
                <nav class="banner__navbar" aria-label="Navigation principale">
                    <a href="{% url 'home' %}" aria-label="Accéder au flux">Flux</a>
                    <a href="{% url 'user-posts' request.user %}" aria-label="Voir vos posts">Posts</a>
                    <a href="{% url 'follows' %}" aria-label="Voir vos abonnements">Abonnements</a>
                    <a href="{% url 'logout' %}" aria-label="Se déconnecter">Se déconnecter</a>
                </nav>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>