{% extends 'litreview/base.html'%}
{% block content %}
<div class="main_follows">
    <header class="main_follows__title">
        <h2>Suivre d'autres utilisateurs</h2>
    </header>
    <div class="main_follows__addfollow">
        <form method="post" action="{% url 'follows' %}" class="form_follow">
            {% csrf_token %}
            {{ follow_form.as_p }}
            <div class="btn_follow">
                <button type="submit" role="button" aria-label="Envoyer">Envoyer</button>
            </div>
        </form>
    </div>
    <section class="main_follows__suber">
        <div class="title">
            <h2>Abonnements</h2>
        </div>
        {% for follow in followings %}
        <div class="form_suber">
            <form method="post" action="{% url 'unfollow' follow.following.id %}" class="form_suber2">
                {% csrf_token %}
                <div class="label_suber">
                    <label for="name">
                        <a href="{% url 'user-posts' follow.following.username %}">{{ follow.following.username }}</a>
                    </label>
                </div>
                <div class="btn_unsub">
                    <button type="submit" role="button" aria-label="button">Désabonner</button>
                </div>
            </form>
        </div>
        {% endfor %}
    </section>
    <section class="main_follows__suber">
        <div class="title">
            <h2>Abonnés</h2>
        </div>
        {% for follow in followers %}
            <div class="form_suber">
                <div class="form_suber2">
                    <div class="label_suber">
                        <label for="name">
                            <a href="{% url 'user-posts' follow.follower.username %}">{{ follow.follower.username }}</a>
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="main_follows__suber">
        <div class="title">
            <h2>Utilisateurs bloqués</h2>
        </div>
        {% for blocked in blocked_users %}
            <div class="form_suber">
                <form method="post" action="{% url 'unblock-user' blocked.id %}" class="form_suber2">
                    {% csrf_token %}
                    <div class="label_suber">
                        <label for="name">
                            <a href="{% url 'user-posts' blocked.username %}">{{ blocked.username }}</a>
                        </label>
                    </div>
                    <div class="btn_unsub">
                        <button type="submit" role="button" aria-label="Débloquer">Débloquer</button>
                    </div>
                </form>
            </div>
        {% endfor %}
    </section>
</div>
{% endblock %}