{% extends 'litreview/base.html'%}
{% load custom_tags %}
{% block content %}
<header>
    <div class="add_critic">
        <div class="add_critic__btn">
            <button role="button"><a href="{% url 'ticket-create' %}">Demander une critique</a></button>
            <button role="button"><a href="{% url 'review-create' %}">Créer une critique</a></button>
        </div>
    </div>
</header>
<main class="main">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            <article class="main__ticket" role="article" aria-label="Ticket">
                <header aria-label="En-tête du ticket">
                    {% if post.author == user %}
                        <p>Vous avez publié un ticket</p>
                    {% else %}
                        <p>{{ post.author }} à demander une critique</p>
                    {% endif %}
                    <div class="date flux_date">{{ post.time_created }}</div>
                    <div class="title">
                        <h3>{{ post.title }}</h3>
                    </div>
                </header>
                <div class="content">
                    <div class="image">
                        <img src="{{ post.image.url }}" alt="Couverture du livre associé au ticket">
                    </div>
                    <div>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
                    {% if not review_ticket|dict_get:post.id %}
                        <div class="btn_critic">
                            <button role="button"><a href="{% url 'review-answer' post.id %}">Créer une critique</a></button>
                        </div>
                    {% else %}
                    <div></div>
                    {% endif %}
                <div></div>
            </article>
        {% elif post.content_type == 'REVIEW' %}
            <article class="main__ticket" role="article" aria-label="critique en réponse à un ticket">
                <header aria-label="En-tête de la critique">
                    {% if post.author == user %}
                        <p>Vous avez posté une critique</p>
                    {% else %}
                        <p>{{ post.author }} a posté une critique</p>
                    {% endif %}
                    <div class="date flux_date" aria-label="Date de publication de la critique">{{ post.time_created }}</div>
                    <div class="title rating_title">
                        <div>
                            <h4 aria-label="Titre de la review">{{ post.title }}</h4>
                        </div>
                        <div aria-label="Note attribué dans la critique">
                            {% if post.rating == 0 %}
                            <p class="rating_display" aria-label="Noté 0 sur 5 étoiles">☆☆☆☆☆</p>
                            {% elif post.rating == 1 %}
                            <p class="rating_display" aria-label="Noté 1 sur 5 étoiles">⭐☆☆☆☆</p>
                            {% elif post.rating == 2 %}
                            <p class="rating_display" aria-label="Noté 2 sur 5 étoiles">⭐⭐☆☆☆</p>
                            {% elif post.rating == 3 %}
                            <p class="rating_display" aria-label="Noté 3 sur 5 étoiles">⭐⭐⭐☆☆</p>
                            {% elif post.rating == 4 %}
                            <p class="rating_display" aria-label="Noté 4 sur 5 étoiles">⭐⭐⭐⭐☆</p>
                            {% elif post.rating == 5 %}
                            <p class="rating_display" aria-label="Noté 5 sur 5 étoiles">⭐⭐⭐⭐⭐</p>
                            {% endif %}
                        </div>
                    </div>
                </header>
                {% if post.content %}
                    <div>
                        <p>{{ post.content }}</p>
                    </div>
                {% endif %}
                {% if post.ticket %}
                    <section class="review_ticket" aria-label="Ticket concerné par la critique">
                        <div>
                            <p>Ticket - {{ post.ticket.author }}</p>
                        </div>
                        <div aria-label="contenu du ticket">
                            <div>
                                <h4 aria-label="titre du ticket">{{ post.ticket.title }}</h4>
                            </div>
                            <div class="review_ticket__imgcontent">
                                <div>
                                    <img src="{{ post.ticket.image.url }}" alt="Couverture du livre dont une réponse a été apporté">
                                </div>
                                {% if post.ticket.content %}
                                    <div>
                                        <p aria-label="description du ticket">{{ post.ticket.content }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endif %}
            </article>
        {% endif %}
    {% endfor %}
</main>
{% endblock %}