{% extends 'litreview/base.html' %}
{% block content %}
<header class="review_delete">
    <div class="review_delete__title">
        <h2>Suppression de la critique</h2>
    </div>
    <hr>
    <div class="review_delete__title">
        <h2>Etes vous sur de vouloir supprimer votre critique ? (cette opération est irréversible)</h2>
    </div>
</header>
<main class="main__ticket" aria-label="contenu de la critique">
    <header aria-label="En-tête de la critique">
        <p>Vous avez posté une critique</p>
        <div class="date flux_date" aria-label="Date de création de la critique">{{ review.time_created }}</div>
    </header>
    <div class="title rating_title">
        <div>
            <h4 aria-label="Titre de la critique">{{ review.title }}</h4>
        </div>
        <div>
            <div aria-label="Note de la critique">
                {% if review.rating == 0 %}
                <p class="rating_display" aria-label="Noté 0 sur 5 étoiles">☆☆☆☆☆</p>
                {% elif review.rating == 1 %}
                <p class="rating_display" aria-label="Noté 1 sur 5 étoiles">⭐☆☆☆☆</p>
                {% elif review.rating == 2 %}
                <p class="rating_display" aria-label="Noté 2 sur 5 étoiles">⭐⭐☆☆☆</p>
                {% elif review.rating == 3 %}
                <p class="rating_display" aria-label="Noté 3 sur 5 étoiles">⭐⭐⭐☆☆</p>
                {% elif review.rating == 4 %}
                <p class="rating_display" aria-label="Noté 4 sur 5 étoiles">⭐⭐⭐⭐☆</p>
                {% elif review.rating == 5 %}
                <p class="rating_display" aria-label="Noté 5 sur 5 étoiles">⭐⭐⭐⭐⭐</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if review.content %}
        <div>
            <p>{{ review.content }}</p>
        </div>
    {% endif %}
    {% if review.ticket %}
        <section class="review_ticket" aria-label="Ticket concerné par la critique">
            <div>
                <p>Ticket - {{ review.ticket.author }}</p>
            </div>
            <div>
                <div>
                    <h4>{{ review.ticket.title }}</h4>
                </div>
                <div class="review_ticket__imgcontent">
                    <div>
                        <img src="{{ review.ticket.image.url }}" alt="Couverture du livre associé au ticket">
                    </div>
                    {% if review.ticket.content %}
                        <div>
                            <p>{{ review.ticket.content }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
    <form method="post">
        {{ delete_form.as_p }}
        {% csrf_token %}
        <div class="btn_review">
            <button type="submit" style="color: white; font-weight: bold;" role="button">Supprimer</button>
        </div>
    </form>
</main>
{% endblock %}