{% extends 'litreview/base.html' %}
{% block content %}
<header class="main_block_reviewcreate_title">
    <h2>Créer une critique</h2>
</header>
<main class="main_block_reviewcreate">
    <form method="post" enctype="multipart/form-data">
        <section class="main_block_reviewcreate__ticketform" aria-label="Section pour création du ticket">
            <h4>Livre / Article</h4>
            {{ ticket_form.as_p }}
        </section>
        <section class="main_block_reviewcreate__reviewform" aria-label="Section pour la réponse apporté au ticket">
            <h4>Critique</h4>
            {{ review_form.as_p }}
            {% csrf_token %}
            <button type="submit" role="button" aria-label="Envoyer">Envoyer</button>
        </section>
    </form>
</main>
{% endblock %}