{% extends 'litreview/base.html'%}
{% block content %}
<main class="main_addreview">
    <header class="main_addreview__title">
        <h2>Créer une critique</h2>
    </header>
    <section class="main_addreview__ticket" aria-label="Ticket concerné par la réponse à apporter">
        <p>Vous êtes en train de poster en réponse à</p>
        <div class="ticket_answer">
            <div class="ticket_date">{{ ticket.time_created }}</div>
            <p>{{ ticket.author }} a demandé une critique</p>
            <div><h3>{{ ticket.title }}</h3></div>
            <div class="ticket_answer_content">
                <div class="ticket_answer_content_image">
                    <img src="{{ ticket.image.url }}" alt="Couverture du livre associé au ticket">
                </div>
                <div>
                    <p>{{ ticket.content }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="main_addreview__review" aria-label="Critique vous allez apporter">
        <div class="main_addreview__review__title"><p>Critique</p></div>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" role="button" aria-label="Envoyer">Envoyer</button>
        </form>
    </section>
</main>
{% endblock %}