{% extends 'litreview/base.html' %}
{% block content %}
<header class="review_delete">
    <div class="review_delete__title">
        <h2>Suppression du ticket</h2>
    </div>
    <hr>
    <div class="review_delete__title">
        <h2>Etes vous sur de vouloir supprimer votre ticket ? (cette opération est irréversible)</h2>
    </div>
</header>
<main class="main__ticket">
        <p>Vous avez publié un ticket</p>
    <div class="date flux_date" aria-label="Date de création du ticket">{{ ticket.time_created }}</div>
    <div class="title">
        <h3>{{ ticket.title }}</h3>
    </div>
    <div class="content">
        <div class="image">
            <img src="{{ ticket.image.url }}" alt="Couverture du livre associé au ticket">
        </div>
        <div>
            <p>{{ ticket.content }}</p>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {{ delete_form.as_p }}
        {% csrf_token %}
        <div class="btn_review">
            <button type="submit" style="color: white; font-weight: bold;" role="button">Supprimer</button>
        </div>
    </form>
</main>
{% endblock %}