{% extends 'litreview/base.html' %}
{% block content %}
<main class="main_block_ticketupdate">
    <header class="main_block_ticketupdate__title">
        <h2>Modifier votre ticket</h2>
    </header>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.non_field_errors }}
        <div class="form-group">
            <label for="{{ edit_form.title.id_for_label }}">{{ edit_form.title.label }}</label>
            {{ edit_form.title }}
        </div>
        <div class="form-group">
            <label for="{{ edit_form.content.id_for_label }}">{{ edit_form.content.label }}</label>
            {{ edit_form.content }}
        </div>
        <div class="form-group">
            <label for="{{ edit_form.image.id_for_label }}">{{ edit_form.image.label }}</label>
            {{ edit_form.image }}
        </div>
        <button type="submit" role="button">Envoyer</button>
    </form>
</main>
{% endblock %}