{% extends 'litreview/base.html' %}
{% block content %}
<main class="ticket_main">
    <header class="ticket_main__title">
        <h2>Créer un ticket</h2>
    </header>
    <section class="ticket_main__form" aria-label="Formulaire de création du ticket">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" role="button">Envoyer</button>
        </form>
    </section>
</main>
{% endblock %}