{% extends 'litreview/base.html'%}
{% load custom_tags %}
{% block content %}
<main class="main">
    {% if not owner_profile %}
        <div class="blocked">
            <form method="post" action="{% url 'user-blocked' user.id %}">
                {% csrf_token %}
                <button type="submit" role="button">Bloquer {{ user.username }}</button>
            </form>
        </div>
    {% endif %}
        <header class="title_page">
            {% if owner_profile %}
                <h3>Vos Posts</h3>
            {% else %}
                <h3>Posts de {{ user.username }}</h3>
            {% endif %}
        </header>
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            <article class="main__ticket" role="article" aria-label="Ticket">
                <header aria-label="En-tête du ticket">
                    {% if post.author == request.user %}
                        <p>Vous avez publié un ticket</p>
                    {% else %}
                        <p>{{ post.author }} à demander une critique</p>
                    {% endif %}
                    <div class="date flux_date" aria-label="Date de création du ticket">{{ post.time_created }}</div>
                    <div class="title">
                        <h3 aria-label="Titre du ticket">{{ post.title }}</h3>
                    </div>
                </header>
                <div class="content">
                    <div class="image">
                        <img src="{{ post.image.url }}" alt="Couverture du livre associé au ticket">
                    </div>
                    <div>
                        <p aria-label="Description du ticket">{{ post.content }}</p>
                    </div>
                </div>
                <div class="btn_critic">
                    {% if owner_profile %}
                        <button role="button"><a href="{% url 'ticket-update' post.id %}">Modifier</a></button>
                        <button role="button"><a href="{% url 'ticket-delete' post.id %}">Supprimer</a></button>
                        <button role="button"><a href="{% url 'review-answer' post.id %}">Créer une critique</a></button>
                    {% else %}
                        {% if not review_ticket|dict_get:post.id %}
                            <button role="button"><a href="{% url 'review-answer' post.id %}">Créer une critique</a></button>
                        {% else %}
                            <div></div>
                        {% endif %}
                    {% endif %}
                </div>
                <div></div>
            </article>
        {% elif post.content_type == 'REVIEW' %}
            <article class="main__ticket" role="article" aria-label="Review en réponse d'un ticket">
                <header aria-label="En-tête de la review">
                    {% if post.author == request.user %}
                        <p>Vous avez posté une critique</p>
                    {% else %}
                        <p>{{ post.author }} a posté une critique</p>
                    {% endif %}
                    <div class="date flux_date">{{ post.time_created }}</div>
                    <div class="title rating_title">
                        <div>
                            <h4>{{ post.title }}</h4>
                        </div>
                        <div>
                            <div>
                                {% if post.rating == 0 %}
                                <p class="rating_display" aria-label="Noté 0 sur 5 étoiles">☆☆☆☆☆</p>
                                {% elif post.rating == 1 %}
                                <p class="rating_display" aria-label="Noté 1 sur 5 étoiles">⭐☆☆☆☆</p>
                                {% elif post.rating == 2 %}
                                <p class="rating_display" aria-label="Noté 2 sur 5 étoiles">⭐⭐☆☆☆</p>
                                {% elif post.rating == 3 %}
                                <p class="rating_display" aria-label="Noté 3 sur 5 étoiles">⭐⭐⭐☆☆</p>
                                {% elif post.rating == 4 %}
                                <p class="rating_display" aria-label="Noté 4 sur 5 étoiles">⭐⭐⭐⭐☆</p>
                                {% elif post.rating == 5 %}
                                <p class="rating_display" aria-label="Noté 5 sur 5 étoiles">⭐⭐⭐⭐⭐</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </header>
                {% if post.content %}
                    <div>
                        <p>{{ post.content }}</p>
                    </div>
                {% endif %}
                <div class="btn_review">
                    {% if owner_profile %}
                    <button role="button"><a href="{% url 'review-update' post.id %}">Modifier</a></button>
                    <button role="button"><a href="{% url 'review-delete' post.id %}">Supprimer</a></button>
                    {% else %}
                    <div></div>
                    {% endif %}
                </div>
                {% if post.ticket %}
                    <section class="review_ticket" aria-label="Ticket concerné par la review">
                        <div>
                            <p>Ticket - {{ post.ticket.author }}</p>
                        </div>
                        <div>
                            <div>
                                <h4>{{ post.ticket.title }}</h4>
                            </div>
                            <div class="review_ticket__imgcontent">
                                <div>
                                    <img src="{{ post.ticket.image.url }}" alt="Couverture du livre dont une réponse a été apporté">
                                </div>
                                {% if post.ticket.content %}
                                    <div>
                                        <p>{{ post.ticket.content }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endif %}
            </article>
        {% endif %}
    {% endfor %}
</main>
{% endblock %}